@import url('matchup.css');
@import url('whatsThis.css');
@import url('leaderboard.css');
html {
  background-color: #e9e9e9;
  background-image: url("/images/texture.png");
}

.align-content {
  width: 600px;
  margin: auto;
  padding-bottom: 5%;
}

.imprint-square {
  border: 1px solid;
  border-top: 2px solid;
  border-radius: 5px;
  border-color: #e0e0e0;
  border-top-color: #c0c0c0;
  border-bottom-color: white;
  background-color: #d5d5d5;
  background-image: url("/images/texture.png");
  font-family: Arial, sans-serif;
  font-size: 0.9em;
}

.pull-right {
  float: right;
  margin-right: 15%;
}

.pull-left {
  float: left;
  margin-left: 15%;
}

/* Header */

#header-desc {
  float: right;
  margin-top: 34px;
}

#header-bar {
  border-top: 1px solid #d5d5d5;
}

#header-logo-lift {
  margin-bottom: 4px
}

/* Footer */

#footer-orange {
  z-index: 5;
  position: fixed;
  left: 0px;
  bottom: 50px;
  height: 10px;
  width: 100%;
  background: #FF7000;
  border: 1px solid #FF7000;
  border-top-color: orange;
  border-bottom-style: outset;
  border-left-style: none;
  border-right-style: none;
}

#footer-orange-background {
  z-index: 5;
  position: fixed;
  left: 0px;
  bottom: 49px;
  height: 14px;
  width: 100%;
  background: #999;
  background-image: url("/images/texture.png");
}

#footer-gray {
  z-index: 5;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background: #555;
  background-image: url("/images/texture.png");
}