<h1>
  Hot Catz
</h1>
<p>
  Check it out! This is a cat voting application, where the only thing
  that matters is your opinion! Wow!
</p>
{{#link-to 'cats'}}
  <button class="big-button">Enter ></button>
{{/link-to}}
